# Required for rTorrent
execute2 = {sh,-c,/usr/bin/php7 /app/rutorrent/php/initplugins.php abc &}
execute.nothrow = rm,/run/php/.rtorrent.sock
network.scgi.open_local = /run/php/.rtorrent.sock
schedule2 = socket_chmod,0,0,"execute=chmod,0660,/run/php/.rtorrent.sock"
schedule2 = socket_chgrp,0,0,"execute=chgrp,abc,/run/php/.rtorrent.sock"

# Logging
log.open_file = "rtorrent", /config/log/rtorrent/rtorrent.log
log.add_output = "info", "rtorrent"

# Throttling
throttle.min_peers.normal.set = 40
throttle.max_peers.normal.set = 1200
throttle.max_uploads.global.set = 15
# Optionally, set this per torrent:
# throttle.max_uploads.set = 5

# Directories
# schedule2 = watch_directory_1,5,5,"load.start=/downloads/watched/*.torrent"
directory = /downloads/incoming
session = /config/rtorrent/rtorrent_sess

# Stop torrents when your drive has <100M free disk space
schedule = low_diskspace,5,60,close_low_diskspace=100M

# Networking
network.port_range.set = 51413-51413
network.port_random.set = no

# Downloading settings
pieces.hash.on_completion.set = yes
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry

# DHT / PEX settings
# set to "disable" to disable
dht.mode.set = auto
dht.port.set = 6881
# set to "no" to disable
protocol.pex.set = yes
# set to "no" to disable
trackers.use_udp.set = yes

encoding.add = utf8
